.heading {
  color: blue;
  font-size: 40px;
}
.product-card {
  width: 280px;
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}
.product-card img {
  width: 100%;
  border-radius: 10px;
}
.custom-btn {
  @apply bg-purple-600 text-white font-bold w:[150px] h:[40-px] rounded-lg p-1;
}
